body {
	font-family: 'Nunito', sans-serif;
margin-top: 2em;

	max-width: 90vw;
	margin-left: auto;
	margin-right: auto;
}
#title
{
	text-align: center;
}


button {
	background-color: #0f4c81;
	color: white;
	padding: .5em 1em .5em 1em ;
	margin: 1em 0em 1em 0;
	border: none;
	border-radius: 3px;
}
select {
	border-radius: 3px;
}
button:hover {
	background-color: #444;
}
ul {
	padding: 0;
}
input {
/*	width: 200px;
*/	margin-left: 1em;
	padding: 4px;
}
.yItem, .xItem { 
/*	background-color: red;
*/	font-size: 1.5em;
 }
 .lblLowY, .lblLowX, .lblHighY, .lblHighX {
 	font-size: 1em;
 	padding: 1em;
 }

.canvasLabel {
	color: #0f4c81;
}

/*.yRange .xRange {
	display: inline-block;
	width: 20%;
}*/
.custom-range {
	display: inline-block;
	width: 30em;
/*	padding: 2em;
*/}
.deleteItemButton {
	margin-left: 1em;
}
.gridDiv {
	display: grid;
	grid-template-columns: 4em 4em 4em 4em 4em;
	grid-template-rows: 4em 10em 10em 4em 4em;
}
.gridDiv:nth-child(1) {
	grid-row: 2 | 3;
	grid-column: 2 | 4;
	background-color: blue;

}
.gridDiv:nth-child(2) {
	grid-column: 1 | 2;
	grid-row: 2 | 4;
	background-color: aqua;
}
.gridDiv:nth-child(3) {
	grid-column: 4 | 5;
	grid-row: 2 | 4;
	background-color: purple;
}
.gridDiv:nth-child(4) {
	grid-column: 2 | 4;
	grid-row: 4 | 5;
	background-color: green;
}
.gridDiv:nth-child(5) {
	grid-column: 2 | 4;
	grid-row: 1 | 2;
	background-color: yellow;
}



.deleteItemButton {
	background-color: #dc143c;
}


.seeDiv {
	display: grid;
	grid-template-columns: 4em 4em 4em 4em;
	grid-template-rows: 4em 10em 10em 4em;
}
.seeDiv div:nth-child(1) {
	grid-row: 2 | 3;
	grid-column: 2 | 4;
}
.seeDiv div:nth-child(2) {
	grid-column: 1 | 2;
	grid-row: 2 | 4;
	background-color: aqua;
}
.seeDiv div:nth-child(3) {
	grid-column: 4 | 5;
	grid-row: 2 | 4;
	background-color: purple;
}
.seeDiv div:nth-child(4) {
	grid-column: 2 | 4;
	grid-row: 4 | 5;
	background-color: green;
}
.seeDiv div:nth-child(5) {
	grid-column: 2 | 4;
	grid-row: 1 | 2;
	background-color: yellow;
}

.errorText {
	color: red;
	margin-left: 1.4em;
}

#canvas
{
/*	background-color: red;
*//*	position: relative;
	left: 110px;*/
	width: 700px;
	height: 500px;
}
#labelLowY {

}
#labelHighY {

}
#labelLowX {

}
#labelHighX {

}
.xRange .yRange {
	width: 10em;
}


/*#labelHighX
{
	position: relative;
	left: 300px;
}
#labelLowY
{
	position: relative;
	top: 100px;
}*/

#xItemsList .itemName, #yItemsList .itemName{
	display: inline-block;
	width: 600px;
}

.custom-range {
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  /*width: 25px;*/ /* Set a specific slider handle width */
  /*height: 25px;*/ /* Slider handle height */
  background: #0f4c81; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.custom-range::-moz-range-thumb {
  /*width: 25px;*/ /* Set a specific slider handle width */
  /*height: 25px; *//* Slider handle height */
  background: #0f4c81; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#axisList .item label {
	color: black;
	padding: .5em 0 0 1.5em;
}

#createDiv input {
	width: calc(100% - 10em);
	font-size: 1.5em;
	height: 2em;
	padding: 0 .3em;
}

#createDiv .itemName {
	padding: 1em .3em;
	margin: 0 1em 1em 1em;
}

#createDiv button {
	font-size: 1.5em;
	height: 2em;
	padding: 0 1em;
	margin-left: .2em;
	width: 6em;
}

#createDiv #addButton {
	width: auto;
	margin-left: 1.1em;
}
.itemName {
	padding: .3em 0 0 .4em;
}

.lblLowY, .lblLowX {
/*	display: inline-block;*/
	text-align: right;
}
#xItemsList, #itemsList, #yItemsList {
	background: whitesmoke;
}
#itemsList div, #xItemsList div, #yItemsList div {
	border: none;
	border-bottom: 1px solid grey;
/*	height: 6em;
*/}
.item {
	border: none;
	border-bottom: 1px solid grey;
}
#createDiv
{
	display: none;
}
#rateDiv
{
	display: none;
}
#seeDiv
{
	display: none;
}

#rateXDiv button, #rateYDiv button {
	height: 2em;
	padding: 0 1em 0 1em;
	margin-right: 1em;
}

#rateXDiv select, #rateYDiv select {
	height: 2em;
	padding: 0;
}
/*#yItemsList div, #xItemsList div {
	height: 5em;
}
*/